
th{
  background-color: gray;
  border: 1px solid white;
  text-overflow: ellipsis;
  overflow: hidden;
}
td{
  border: 1px solid white;
  text-overflow: ellipsis;
  overflow: hidden;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
}


.text-titre{
  color:#BA6525
}


.red{
  background-color: rgb(142, 73, 27);
  color: white;
  font-weight: bold;
}
