



<div class="titre d-flex justify-content-center elign-items-center"> 
  <img src="..\assets\images\consumption.png"  class="mb-3"  width="50px" alt="">
  <h1 class="text-center text-titre ms-3 mt-2 ">WireConsumption</h1>
</div>

<div class="p-0 m-0">
  <table class="table table-bordered table-dark">
    <thead class="thead-light text-center">
      <tr>
        <th>Plant</th>
        <th>Supplier</th>
        <th>Week Number</th>
        <th>Year B</th>
        <th>Initial Stock</th>
        <th>Quantity Received</th>
        <th>Real Consumption</th>
        <th>Final Stock</th>
        <th>Material Breaks</th>
        <th>Process Breaks</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let data of pagedData">
        <td>{{ data.Plant }}</td>
        <td>{{ data.Supplier }}</td>
        <td>{{ data.Week_Number }}</td>
        <td>{{ data.yearB }}</td>
        <td>{{ data.Initial_Stock }}</td>
        <td>{{ data.Quantity_received }}</td>
        <td>{{ data.Real_Consumption }}</td>
        <td>{{ data.Final_Stock }}</td>
        <td>{{ data.MaterialBreaks }}</td>
        <td>{{ data.ProcessBreaks }}</td>
        <td>{{ data.Rate }}</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      </li>

      <li *ngIf="currentPage > 2" class="page-item">
        <button class="page-link" (click)="onPageChange(1)">1</button>
      </li>

      <li *ngIf="currentPage > 3" class="page-item disabled"><span class="page-link">...</span></li>

      <li *ngFor="let page of pageNumbers" class="page-item" [class.active]="currentPage === page">
        <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
      </li>

      <li *ngIf="currentPage < totalPages - 2" class="page-item disabled"><span class="page-link">...</span></li>

      <li *ngIf="currentPage < totalPages - 1" class="page-item">
        <button class="page-link" (click)="onPageChange(totalPages)">{{ totalPages }}</button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
      </li>
    </ul>
  </nav>
</div>
