
.custom-btn {
  background-color: #000168;
  color: white;
  font-weight: bold;
  font-size: 1.25rem; /* Taille du texte pour un bouton large */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #4169e1; /* Légèrement plus foncé */
  cursor: pointer;
}


  th{
    background-color: gray;
    border: 1px solid white;
  }
  td{
    border: 1px solid white;
  }


  /* update design*/
  .inventory-container {
    padding: 20px;
  }

  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .inventory-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .inventory-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .update-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }

  .update-btn:hover {
    background-color: #45a049;
  }

  .update-btn:disabled {
    background-color: #cccccc;
    cursor: not-available;
  }

  .edit-input {
    width: 80px;
    padding: 5px;
    border: 2px solid #4CAF50;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
  }

  .edit-input:focus {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }




  .update-icon, .delete-icon {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .update-icon:hover, .delete-icon:hover {
    transform: scale(1.2);
    color: #00e676;
  }

  .update-icon, .delete-icon {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
  }

  .update-icon:hover, .delete-icon:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px #00e676, 0 0 20px #00e676, 0 0 30px #00e676;
  }

  .update-icon:hover {
    transform: rotate(360deg) scale(1.2);
  }
