
<div>

  <div class="file-upload-container ms-2">
    <label for="file" class="file-upload-label">choose .xlxs file</label>
    <input type="file" id="file" (change)="onFileSelected($event)" accept=".xlsx,.xls" class="file-upload-input">
  </div>

  <button class="ms-2 btnn" (click)="uploadFile()" [disabled]="isUploadLoading || isUploadCompleted">
    <span *ngIf="isUploadLoading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
    <span *ngIf="isUploadCompleted" class="text-success me-1">✓</span>
    {{ isUploadLoading ? 'Uploading...' : isUploadCompleted ? 'Uploaded' : 'Upload' }}
  </button>

  <button class="ms-2 btnn" (click)="getTemporaryData()"
    [disabled]="isShowDataLoading || isShowDataCompleted || !isUploadCompleted">
    <span *ngIf="isShowDataLoading" class="spinner-border spinner-border-sm me-1" role="status"
      aria-hidden="true"></span>
    <span *ngIf="isShowDataCompleted" class="text-success me-1">✓</span>
    {{ isShowDataLoading ? 'Loading...' : isShowDataCompleted ? 'Data Loaded' : 'Show Data' }}
  </button>

  <button class="ms-2 btnn" (click)="validateData()"
    [disabled]="isSaveDataLoading || isSaveDataCompleted || !isShowDataCompleted">
    <span *ngIf="isSaveDataLoading" class="spinner-border spinner-border-sm me-1" role="status"
      aria-hidden="true"></span>
    <span *ngIf="isSaveDataCompleted" class="text-success me-1">✓</span>
    {{ isSaveDataLoading ? 'Saving...' : isSaveDataCompleted ? 'Data Saved' : 'Save Data' }}
  </button>

  <button *ngIf="isSaveDataCompleted" class="ms-2 recommencer" (click)="resetWorkflow()">
    Recommencer
  </button>



  <table *ngIf="temporaryData">
    <thead>
      <tr>
        <th *ngFor="let key of displayedColumns">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of temporaryData">
        <td contenteditable *ngFor="let key of displayedColumns">{{ row[key] }}</td>
      </tr>
    </tbody>
  </table>
</div>
