



th{
  background-color: gray;
  border: 1px solid white;
}
td{
  border: 1px solid black;
  color: black;

}




.desactive-icon , .active-icon ,.update-icon{
  transition: transform 0.3s ease, color 0.3s ease;
}


.desactive-icon:hover, .active-icon:hover ,.update-icon:hover{
  transform: scale(1.2);
  text-shadow: 0 0 10px #00e676, 0 0 20px #00e676, 0 0 30px #00e676;
}

.custom-btn {
  background-color: #000168;
  color: white;
  font-weight: bold;
  font-size: 1.25rem; /* Taille du texte pour un bouton large */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #4169e1; /* Légèrement plus foncé */
  cursor: pointer;
}
