
<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#supplierModal">
  + Add Supplier
</button>


<div class="p-4">
  <table class="w-full border-collapse rounded-lg overflow-hidden bg-gray-900 text-white shadow-lg w-100">
    <thead class="bg-gray-800 text-gray-300 text-center">
      <tr>
        <th class="py-3 px-4 text-left">#Index </th>
        <th class="py-3 px-4 text-left">SupplierID</th>


        <th>Action</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @for(data of listSupplier ; track data.supplierid){
      <tr class="border-b border-gray-700 hover:bg-gray-800 transition">
        <td class="py-3 px-4"> {{data.supplierid}} </td>
        <td class="py-3 px-4"> {{data.supplierid}} </td>
        <td class="text-center">
          <i class="fas fa-rotate-right update-icon"
          data-bs-toggle="modal" data-bs-target="#updateModal"
          (click)="getSupplier(data.supplierid)" style="color: white;"></i>

          <i class="fas fa-trash delete-icon ms-2"
           style="color: white; cursor: pointer;"
            (click)="deleteSupplier(data.supplierid)">
          </i>

        </td>
      </tr>
    }@empty{
      <h1 class="text-danger text-center"> No data founded </h1>
    }
    </tbody>
  </table>
</div>




<!-- modal ajout-->

<div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add Supplier</h5>
        <button type="button"  #closemodal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="supplierForm">

          <div class="mb-3">
            <label for="supplierid" class="form-label">Code Supplier:</label>
            <input type="text" formControlName="supplierid" name="supplierid" id="supplierid" class="form-control" placeholder="supplierid">
          </div>


          <button  (click)="onSubmit()" class="btn btn-success w-100">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- modal update-->

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add Supplier</h5>
        <button type="button"  #closemodal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateSupplierForm">

          <div class="mb-3">
            <label for="supplierid" class="form-label">Code Supplier:</label>
            <input type="text" formControlName="supplierid" name="supplierid" id="supplierid" class="form-control" placeholder="supplierid">
          </div>


          <button  (click)="updateSupplier()" class="btn btn-success w-100">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>






















