
<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inventoryModal">
  + Add WireBreakType
</button>


<div class="p-4">
  <table class="w-full border-collapse rounded-lg overflow-hidden bg-gray-900 text-white shadow-lg w-100">
    <thead class="bg-gray-800 text-gray-300 text-center">
      <tr>
        <th class="py-3 px-4 text-left">#Index </th>
        <th class="py-3 px-4 text-left">WireBreak Type </th>
        <th class="py-3 px-4 text-left">Type B</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @for(data of listWireBreakType ; track $index){
      <tr class="border-b border-gray-700 hover:bg-gray-800 transition">
        <td class="py-3 px-4"> {{$index}} </td>
        <td class="py-3 px-4"> {{data.wirebreaktype}} </td>
        <td class="py-3 px-4"> {{data.typeB}} </td>
        <td class="text-center">

          <!-- <i class="fas fa-rotate-right update-icon"
          data-bs-toggle="modal" data-bs-target="#updateModal"
            (click)="getWireBreakType(data.wirebreaktype)" style="color: white;"></i>

          <i class="fas fa-trash delete-icon ms-2"
           style="color: white; cursor: pointer;"
            (click)="deleteWireBreakType(data.wirebreaktype)">
          </i> -->

          <i class="fas fa-lock active-icon ms-2"
          style="color: white; cursor: pointer;"
           (click)="deactivateWireBreakType(data.wirebreaktype)">
          </i>

       <i class="fas fa-lock-open desactive-icon ms-3"
          style="color: white; cursor: pointer;"
          (click)="activateWireBreakType(data.wirebreaktype)">
        </i>


        </td>
      </tr>
    }@empty{
      <h1 class="text-danger text-center"> No data founded </h1>
    }
    </tbody>
  </table>
</div>




<!-- modal ajout-->

<div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add WireBreakType</h5>
        <button type="button"  #closemodal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="wireBreakTypeForm">

          <div class="mb-3">
            <label for="wirebreaktype" class="form-label">Wirebreaktype:</label>
            <input type="text" formControlName="wirebreaktype" name="wirebreaktype" id="wirebreaktype" class="form-control" placeholder="wirebreaktype">
          </div>

          <div class="mb-3">
            <label for="codeMachine" class="form-label">Type Break:</label>
            <input type="text" formControlName="typeB" name="typeB" id="typeB" class="form-control" placeholder="typeB">
          </div>


          <button  (click)="onSubmit()" class="btn btn-success w-100">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- modal updae-->

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Update WireBreakType</h5>
        <button type="button"  #closemodal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateWireBreakTypeForm">

          <div class="mb-3">
            <label for="wirebreaktype" class="form-label">Wirebreaktype:</label>
            <input type="text" formControlName="wirebreaktype" name="wirebreaktype" id="wirebreaktype" class="form-control" placeholder="wirebreaktype">
          </div>

          <div class="mb-3">
            <label for="codeMachine" class="form-label">Type Break:</label>
            <input type="text" formControlName="typeB" name="typeB" id="typeB" class="form-control" placeholder="typeB">
          </div>


          <button (click)="updateWireBreakType()" class="btn btn-success w-100">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>





















