



.table-responsive {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  word-wrap: break-word;
  word-break: break-word;
  white-space: nowrap;
  padding: 8px;
  text-align: left;
  max-width: 150px; /* limite la largeur */
}


th{
  background-color: gray;
  border: 1px solid white;
  text-overflow: ellipsis;
  overflow: hidden;
}
td{
  border: 1px solid white;
  text-overflow: ellipsis;
  overflow: hidden;
}



.text-titre{
  color:#BA6525
}


.red{
  background-color: rgb(142, 73, 27);
  color: white;
  font-weight: bold;
}
