
<div class="titre d-flex justify-content-center ">
  <img src="..\assets\images\details.png"  width="50px" alt="">
  <h1 class="text-center text-titre ms-3">WireBreakDetails</h1>
</div>



<div class="p-0 m-0">
  <table class="w-full border-collapse rounded-lg overflow-hidden bg-gray-900 text-white shadow-lg w-100 mt-2">
    <thead class="bg-gray-800 text-gray-300 text-center">
      <tr>
        <th class="py-3 px-4 text-left"> Plant</th>
        <th class="py-3 px-4 text-left"> Supplier</th>
        <th class="py-3 px-4 text-left">WeekNumber</th>
        <th class="py-3 px-4 text-left">Wire_Break_Type</th>
        <th class="py-3 px-4 text-left">Break_date</th>
        <th class="py-3 px-4 text-left">num_of_break</th>
        <th class="py-3 px-4 text-left">Machine_Number</th>
        <th class="py-3 px-4 text-left">Batch_Number</th>
        <th class="py-3 px-4 text-left">Break_Diameter</th>
        <th class="py-3 px-4 text-left">Range_</th>
        <th class="py-3 px-4 text-left">Finished_Wire_Diameter</th>


      </tr>
    </thead>
    <tbody class="text-center">
      @for(data of wireBreakDetails ; track $index){
      <tr class="border-b border-gray-700 hover:bg-gray-800 transition">
        <td class="py-3 px-4"> {{data.Plant}} </td>
        <td class="py-3 px-4"> {{data.Supplier}} </td>
        <td class="py-3 px-4"> {{data.Week_Number}} </td>
        <td class="py-3 px-4"> {{data.Wire_Break_Type}} </td>
        <td class="py-3 px-4"> {{data.Break_date}} </td>
        <td class="py-3 px-4"> {{data.num_of_break}} </td>
        <td class="py-3 px-4"> {{data.Machine_Number}} </td>
        <td class="py-3 px-4"> {{data.Batch_Number}} </td>
        <td class="py-3 px-4"> {{data.Break_Diameter}} </td>
        <td class="py-3 px-4"> {{data.Range_}} </td>
        <td class="py-3 px-4"> {{data.Finished_Wire_Diameter}} </td>
      </tr>
       }

    </tbody>
  </table>
</div>
