
<div class="titre d-flex justify-content-center ">
  <img src="..\assets\images\details.png"  width="50px" alt="">
  <h1 class="text-center text-titre ms-3">WireBreakDetails</h1>
</div>


<!-- Search Section -->
<div class="search-form m-2 d-flex ">

  <select [(ngModel)]="search.Plant" (ngModelChange)="setPageData()" class="form-select ms-2">
    <option value="">Plants</option>
    <option *ngFor="let plant of plants" [value]="plant.Plant">{{ plant.Plant }}</option>
  </select>

  <select [(ngModel)]="search.Supplier" (ngModelChange)="setPageData()" class="form-select ms-2 ">
    <option value="">Suppliers</option>
    <option *ngFor="let supplier of listsuppliers" [value]="supplier.supplierid">{{ supplier.supplierid }}</option>
  </select>

  <input type="number" class="form-control ms-2 " placeholder="Week Number" [(ngModel)]="search.Week_Number" (ngModelChange)="setPageData()">
  <input type="number" class="form-control ms-2 " placeholder="Year" [(ngModel)]="search.yearB" (ngModelChange)="setPageData()">

  <button class="btn btn-outline-danger btn-sm" (click)="clearFilter()">Reset</button>

</div>




<div class="p-0 m-0" *ngIf="pagedData.length > 0">
  <table class="table table-bordered table-dark">
    <thead class="bg-gray-800 text-gray-300 text-center">
      <tr>
        <th class="py-3 px-4 text-left"> Plant</th>
        <th class="py-3 px-4 text-left"> Supplier</th>
        <th class="py-3 px-4 text-left">WeekNumber</th>
        <th class="py-3 px-4 text-left">Wire_Break_Type</th>
        <th class="py-3 px-4 text-left">Break_date</th>
        <th class="py-3 px-4 text-left">num_of_break</th>
        <th class="py-3 px-4 text-left">Machine_Number</th>
        <th class="py-3 px-4 text-left">Batch_Number</th>
        <th class="py-3 px-4 text-left">Break_Diameter</th>
        <th class="py-3 px-4 text-left">Range_</th>
        <th class="py-3 px-4 text-left">Finished_Wire_Diameter</th>


      </tr>
    </thead>
    <tbody class="text-center">
      @for(data of pagedData ; track $index){
      <tr class="border-b border-gray-700 hover:bg-gray-800 transition">
        <td class="py-3 px-4"> {{data.Plant}} </td>
        <td class="py-3 px-4"> {{data.Supplier}} </td>
        <td class="py-3 px-4"> {{data.Week_Number}} </td>
        <td class="py-3 px-4"> {{data.Wire_Break_Type}} </td>
        <td class="py-3 px-4"> {{data.Break_date}} </td>
        <td class="py-3 px-4"> {{data.num_of_break}} </td>
        <td class="py-3 px-4"> {{data.Machine_Number}} </td>
        <td class="py-3 px-4"> {{data.Batch_Number}} </td>
        <td class="py-3 px-4"> {{data.Break_Diameter}} </td>
        <td class="py-3 px-4"> {{data.Range_}} </td>
        <td class="py-3 px-4"> {{data.Finished_Wire_Diameter}} </td>
      </tr>
       }

    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      </li>

      <li *ngIf="currentPage > 2" class="page-item">
        <button class="page-link" (click)="onPageChange(1)">1</button>
      </li>

      <li *ngIf="currentPage > 3" class="page-item disabled"><span class="page-link">...</span></li>

      <li *ngFor="let page of pageNumbers" class="page-item" [class.active]="currentPage === page">
        <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
      </li>

      <li *ngIf="currentPage < totalPages - 2" class="page-item disabled"><span class="page-link">...</span></li>

      <li *ngIf="currentPage < totalPages - 1" class="page-item">
        <button class="page-link" (click)="onPageChange(totalPages)">{{ totalPages }}</button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
      </li>
    </ul>
  </nav>





</div>
