// Button {
//     display: inline-block;
//     background: linear-gradient(45deg, #FFD700, #FFC107); /* Dégradé doré */
//     color: #1A1A1A; /* Noir légèrement adouci pour le texte */
//     font-size: 20px;
//     font-weight: bold;
//     padding: 10px 20px;
//     border-radius: 50px;
//     text-transform: uppercase;
//     text-decoration: none;
//     box-shadow: 0 4px 10px rgba(255, 215, 0, 0.3); /* Ombre dorée */
//     transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
//   }

//   .Button:hover {
//     transform: translateY(-3px);
//     background: linear-gradient(45deg, #FFC107, #FFB300); /* Doré plus intense au hover */
//     box-shadow: 0 6px 15px rgba(255, 215, 0, 0.6); /* Ombre plus lumineuse */
//   }

Button {
  background-color: #000168;
  color: white;
  font-weight: bold;
  font-size: 1.25rem; /* Taille du texte pour un bouton large */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

Button:hover {
  background-color: #4169e1; /* Légèrement plus foncé */
  cursor: pointer;
}

th{
  background-color: gray;
  border: 1px solid white;
}
td{
  border: 1px solid black;
  color: black;

}

  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  }


.add-icon, .save-icon , .update-icon {
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.add-icon:hover {
  color: #28a745;
  transform: scale(1.2);
  text-shadow: 0 0 8px rgba(40, 167, 69, 0.8);
}

.save-icon:hover {
  color: #007bff;
  transform: scale(1.2);
  text-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
}
.update-icon:hover {
  color: orange;
  transform: scale(1.2);
  text-shadow: orange;
}



.green{
  background-color: greenyellow;
  color: black;
  font-weight: bold;
}

.red{
  background-color: rgb(142, 73, 27);
  color: white;
  font-weight: bold;
}
